.navbar {
    backdrop-filter: blur(10px);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,53,16,1) 100%, rgba(0,212,255,1) 100%);
    .logo {
        width: 60px;
    }
    .nav-link:hover {
        padding: 1px;
        background-color: #3b3b3b;
        border-radius: 5px
    }
}


